{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %} 
<div class="image"><img src="static/img/7.jpg" width="100%" alt=""></div>
We provide services for special occasions (such as weddings, anniversaries, birthday parties, business networking events, etc.) or customized baked products for people who have allergies or sensitivities to certain foods (such as nuts, peanuts, dairy or gluten, etc.). We can provide a wide range of cake designs such as sheet cakes, layer cakes, wedding cakes, tiered cakes, etc. Other bakeries may specialize in traditional or hand-made types of baked products made with locally milled flour, without flour bleaching agents or flour treatment agents, baking what is sometimes referred to as artisan bread.
{% endblock body %}